    {% load static %}
	<!--footer-->
    <footer class="pt-4 navbar-custom text-light">
      <div class="container-fluid text-center text-md-right">

        <div class="row">

          <div class="col-md-2 mt-md-0 mt-0">
            <h5 class="text-uppercase">
             <img src="{% static 'img/logo1.jpg'%}" class="img-brand" alt="compitation">
            مسابقة القران الكريم
            </h5>
            
          </div>

          <hr class="clearfix w-100 d-md-none pb-3">

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">أرقام  التواصل مع أسرة المسابقة</h5>

            <ul class="list-unstyled">
              <li><a href="tel:01554585252">015545385252</a></li>
              <li><a href="tel:04024325653">040243235653</a></li>
              <li><a href="tel:01234567897">012345637897</a></li>
              <li><a href="tel:011122233365">011122233365</a></li>
            </ul>

          </div>

          <div class="col-md-3 mb-md-0 mb-3">

            <h5 class="text-uppercase">صفحاتنا على مواقع التواصل الإجتماعى</h5>

            <ul class="list-unstyled">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">YouTube</a></li>
              <li><a href="#">Twitter</a></li>
            </ul>

          </div>

        </div>

      </div>

      <div class="text-center py-3">
        حقوق الملكية &copy; <span class="year">2023 </span>  القيصرية
      </div>

    </footer>

