{% extends 'base.html'%}
{%block title%} | البحث{%endblock%}

{% block content%}

    <div class="my-form container p-5 my-5 rounded border border-warning">
        <form>
            <h2 class="text-center">البحث عن المتسابقين</h2>
            <hr>

            <div class="form-group" >
                <label for="searchname">إسم المتسابق</label>
                <input type="text" name="searchname"  class="form-control" id="searchname" placeholder="أحمد محمد أحمد">
            </div>

            <div class="form-row">
				<div class="form-group col-md-6 ">
					<label for="mohafez" class="control-label">الشيخ المحفظ</label><br>
					<select name='mohafez_select' id="mohafez" class="form-select col-md-10"  >
						<option value="0">------- </option>
						{% for item in shekh_mohafez %}
						<option value="{{item.id}}">{{item.user.first_name}} {{item.user.last_name}} </option>
						{%endfor%}
					</select>								
				</div>			
    
				<div class="form-group   col-md-6"    >
					<label for="NOof_juze" class="control-label "> عدد الأجزاء</label><br>
					<select name="no_of_juze_search" class="form-select  col-md-10"  >
						<option value="0">-</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="30">30</option>				
						<option value="30">30 مع التجويد</option>				
					</select>			
				</div>
            </div>

            <div class="form-group">
                <div class="pretty p-svg p-curve p-jelly">
                    <input type="checkbox" name="cs" id="inputCaseSensitive" />
                    <div class="state p-warning">
                        <!-- svg path -->
                        <svg class="svg svg-icon" viewBox="0 0 20 20">
                            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                        </svg>
                        <label for="inputTerms" style="margin-left:30px;">البحث بالمثل</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning" >إبدأ البحث</button>
        </form>

    </div>

	<div class="my-form container p-5 my-5 rounded border border-warning">
		<form>
			<h2 class="text-center">نتيجــة البحث</h2>
			<hr>
			<section>
				<div class="container-fluid">
					<div class="row p-5 my-3 ">
						<table  style="width:100%">
							<thead>
							<tr>
								<th style="width:5%">م</th>
								<th>الأسم</th>
								<th>البلد</th>
								<th>إسم الشيخ المحفظ</th>
								<th>عدد الأجزاء</th>
								<th>رقم التلفون الأول</th>
								<th>رقم التلفون الثانى</th>
								<th>العام</th>
								<th>النتيجة</th>
							</tr>
							</thead>
   							 <tbody>
							{% for student in students %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>{{ student.full_name }}</td>
								<td>{{ student.student_country }}</td>
								<td>{{ student.student_shekh_mohafez.user.first_name }} {{ student.student_shekh_mohafez.user.last_name }}</td>
								<td>{{ student.number_of_Juze }}</td>
								<td>{{ student.phone_number1 }}</td>
								<td>{{ student.phone_number2 }}</td>
								<td>{{ student.current_date }}</td>
								<td>{{ student.result }}</td>
								 {% if not forloop.last %}
   				                 <!-- Add more table cells as needed -->
  				              {% endif %}<!-- Replace 'some_field' with the actual field name in Shekh_Mohafez model -->
								<!-- Add more table cells as needed -->
							</tr>
							{%endfor%}
							 </tbody>
						</table>
					</div>
				</div>
			</section>

			<a href="?word=true" class="btn btn-warning col-md-3">حفظ خارجى كوثيقة</a>
		</form>
	</div>


{%endblock%}